.oscillator{
    display: flex;
    
   svg.wave-button{
        width: 60px;
        height: 60px;
        box-shadow: 0 2px 3px rgba(0,0,0,0.03);
        border-radius: 50%;
        margin: 5px;
    }

    .screen svg{
          width:120px;
          height: 120px;
    }

    .controllers  {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
    }
    .controllers, .fm {
        width: 150px;
        justify-content: space-around;
        margin: 5px;
        flex-shrink: 0 ;
    }

    .fm {
        width: 70px;
        p{
            color:#BBB;
            text-align: center;
            font-size: 10px;
            width: 100%;
        }
        path , circle {
            stroke: #2196F3;
            stroke-width: 2px;
        }
    }
    
}