.envelope {
    margin: 5px;
    .selector {
        display: flex;
        margin-top: 5px;
        button {
            border: 1px solid #222;
            width: 50%;
            &:hover{
                background: #555;
            }
        }
        button.active {
            color: #FFA928;
        }

    }
    >div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        span {
            width: 40px;
            display: block;
            margin: 2px;
            * {
                display: block;
                width: 100%;
            }
            label {
                border-bottom: 1px solid #f9fbe6;
                color: #b9bab2;
            }
        }
    }
}