.envelope {
    margin: 5px;
    .selector {
        display: flex;
        margin-top: 5px;
        button {
            border: 1px solid #222;
            width: 50%;
            &:hover{
                background: #555;
            }
        }
        button.active {
            color: #FFA928;
        }
    }
}