.grid-line{
  .grids{opacity: 0.1;}
  pattern{fill:none;}
  .round{ fill-opacity: 0.3;}
  #sgrid path{
    stroke: #FFEB3B;
    stroke-width:0.8;
    fill:none;
  }
  #grid path {
    fill:none;
    stroke: #FFEB3B;
    stroke-opacity:0.8;
    stroke-width:1;
  }
}
