.nalche-synth {
    * {
        font-family: sans-serif;
        font-weight: 400;
    }
    ul {
        padding: 0px;
        margin: 0px;
    }
    button {
        outline: none;
        border: none;
        background: none;
    }
    .oscillator {
        p {
            color: #4b788c;
            text-align: center;
            font-size: 10px;
            width: 100%;
        }
    }
}