.nalche-synth {
    display: flex;
    position: relative;
    * {
        font-family: sans-serif;
        font-weight: 400;
    }
    h1,
    h2,
    h3,
    {
        color: #03A9F4;
        font-size: 12px;
        margin: 0px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }
    h4 {
        margin: 0px;
        color: #EEE
    }
}



.midi-panel {
    display: block;
    flex-grow: 2;
    margin: 20px;
}

.piano {
    font-size: 12px;
    ul {
        padding: 0px;
        margin: 0px;
    }
    .keyboard {
        box-shadow: 0px 5px 10px gray;
        width: 580px;
        height: 410px;
        border-radius: 3px;
        background: #333333;
    }
    input {
        background-color: transparent;
        border: 0px solid;
    }
    display: flex;
    justify-content: center;
    .panel {
        user-select: nonde;
        padding: 5px;
        display: flex;
        * {
            user-select: none;
        }
    }
}

@import "envelope";
@import "grid";
@import "oscillator";
@import "midi";
button {
    outline: none;
    border: none;
    background: none;
}