.nalche-synth{
    display: flex;
    position: relative;
}

.playStop{
    display: flex;
    button{
        display: block;
        background: #e0e0e0;
        color: black;
        padding: 3px 18px;
        border: 1px solid #BBB;
        font-size: 14px;
        cursor: pointer;
        &:hover{
            background: #CCC;
        }
    }
    position: absolute;
}

.midi-panel{
    display: block;
    flex-grow: 2;
    margin: 20px;
}

.piano {
    font-size: 12px;
    ul {
        padding: 0px;
        margin: 0px;
    }
    .keyboard {
        box-shadow: 0px 5px 10px gray;
        width: 660px;
        height: 420px;        
        border: 1px solid #EEE;
        border-radius: 3px;
    }
    input {
        background-color: transparent;
        border: 0px solid;
    }   
    display: flex;
    justify-content: center;
    .panel {
        border-bottom: 1px solid #e9e9e9;
        user-select: nonde;
        padding: 5px;
        cursor:pointer;
        display: flex;
        * {user-select: none;}  
    }
}

.nalche-synth{
    * {
        font-family: sans-serif;
        font-weight: 400;  
    }
    h1,h2,h3,{
        color: #EEE;
        font-size: 16px;
        margin: 0px;
    }
    h4{ 
        margin: 0px ; color: #EEE 
    }
}

@import "envelope";
@import "grid";
@import "oscillator";
@import "midi";

button {
    outline: none;
    border:none;
    background:none; 
}