.midi-keys {
    display: flex;
    li {
        list-style-type: none;
        display: flex;
        position: relative;
        width: 300px;
        font-family: sans-serif;
        font-size: bold;
        cursor: pointer;
        user-select: none;
        justify-content: space-between;
        align-items: start;
        button {
            width: 14.2%;
            padding-top: 180px;
            text-align: center;
            border: 1px solid #c1c1c1;
            display: block;
            border-radius: 2px;
            box-shadow: 2px 10px 2px rgba(0, 0, 0, 0.1);
            color: #FF9800;
            background: white;
            flex-grow: 0;
            &.active {
                background-color: #EEE;
                padding-top: 170px;
            }
            &.black {
                background-color: black;
                width: 10%;
                position: absolute;
                z-index: 100;
                padding-top: 140px;
                box-shadow: 2px 4px 1px rgba(0, 0, 0, 0.1);
                &.active {
                    background-color: #333;
                    padding-top: 135px;
                }
            }
            &:nth-child(2) {
                left: 9.2%;
            }
            &:nth-child(4) {
                left: 23.6%;
            }
            &:nth-child(7) {
                left: 52.1%;
            }
            &:nth-child(9) {
                left: 66.5%;
            }
            &:nth-child(11) {
                left: 81.5%;
            }
        }
    }
}
.window-panel {
    position: relative;
    h3 {
        background: #444;
        padding: 2px;
        color: white;
    }
    >ul {
        display: flex;
        margin: 0px;
        padding: 0px;
    }
    margin: 2px;
}
.playStop {
    display: flex;
    button {
        font-size: 16px;
        text-transform: uppercase;
        display: block;
        color: #ffa929;
        padding: 3px 18px;
        cursor: pointer;
        background: #444;
        &:hover {
            background: #777;
        }
    }
}

.midi{
    width: 300px;
    overflow: scroll;
}