.midi-keys {
    display: flex;
    li {
        list-style-type: none;
        display: flex;
        position: relative;
        width: 300px;
        font-family: sans-serif;
        font-size: bold;
        cursor: pointer;
        user-select: none;
        justify-content: space-between;
        align-items: start;
        button {
            width: 14.2%;
            padding-top: 180px;
            text-align: center;
            border: 1px solid #c1c1c1;
            display: block;
            border-radius: 2px;
            box-shadow: 2px 10px 2px rgba(0, 0, 0, 0.1);
            color: #FF9800;
            background: white;
            flex-grow: 0;
            &.active {
                background-color: #EEE;
                padding-top: 170px;
            }
            &.black {
                background-color: black;
                width: 10%;
                position: absolute;
                z-index: 100;
                padding-top: 140px;
                box-shadow: 2px 4px 1px rgba(0, 0, 0, 0.1);
                &.active {
                    background-color: #333;
                    padding-top: 135px;
                }
            }
            &:nth-child(2) {
                left: 9.2%;
            }
            &:nth-child(4) {
                left: 23.6%;
            }
            &:nth-child(7) {
                left: 52.1%;
            }
            &:nth-child(9) {
                left: 66.5%;
            }
            &:nth-child(11) {
                left: 81.5%;
            }
        }
    }
}

.sequencer {
    display: flex;
    >li {
        width: 20px;
        list-style: none;
        border: 1px solid #717171;
        button {
            width: 100%;
            border-bottom: 1px solid #696969;
            height: 20px;
            display: block;
            background: #808080;
        }
        .active {
            background: #ffa929;
        }
    }
}

.midi {
    display: flex;
    padding: 10px;
    list-style: none;
    border-left: 1px solid gray;
    .quartel {
        width: 50px;
        border-right: 1px solid #EEE;
    }
    .note {
        width: 100%;
        height: 8px;
        border-bottom: 1px solid #EEE;
        font-size: 8px;
        display: block;
    }
    .black {
        background: #ececec;
    }
    .active {
        background: #ffa929;
    }
}