.oscillator {
    display: flex;
    >div {
        display: flex;
        margin: 5px;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-shrink: 0;
        .wave-button {
            margin: 5px;
            flex-shrink: 0;
        }
        p {
            color: #4b788c;
            text-align: center;
            font-size: 10px;
            width: 100%;
        }
    }
    .global {
        width: 100px;
        p {color: #CDDC38};
        justify-content: center;
    }
    .controllers {
        justify-content: flex-start;
        width: 120px;
    }
    .fm {
        width: 50px;
    }
}