.oscillator {
    >div {
        .wave-button {
            margin: 5px;
            flex-shrink: 0;
        }
        p {
            color: #4b788c;
            text-align: center;
            font-size: 10px;
            width: 100%;
        }
    }
    
    .fm {
        width: 50px;
    }
}