$seq_size: 10px;
.sequencer {
    padding: 5px;
    li {
        width: $seq_size;
        list-style: none;
        border: 1px solid #333;
        button {
            width: 100%;
            border-bottom: 1px solid #333;
            height: $seq_size;
            display: block;
            background: #555;
        }
        .active {
            background: #ffa929;
        }
    }
}